  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

*{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
body{
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'writer-mono';
    src: url('/writer-mono_normal.ttf') format('truetype');
} 

@font-face{
  font-family: "writer-mono-italic";
  src: url('/writer-mono_italic.ttf') format('truetype');
}